{% extends 'layout.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
    <section>
        <h1 class="m-5 pl-3">Performances</h1>
        <div class="row">
            <div class="ml-0 col-sm-12 col-lg-6 ml-md-5">
        <p class="pl-3">Come and be mesmerized by exceptional circus acts including juggling, acrobatics,
            high-wire acts, dance, and many more performances, along with the music of a
            live band playing a kind of rock-hip-hop-soul style !
        </p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row pt-2 pl-5 pr-5">
                 {% for performance in performances %}
                <div class="col-12 col-md-3 mt-3 mb-5 d-flex justify-content-center align-items-center">
                <div class="card shadow">
                    <img class="card-img-top" src="{{ performance.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card__title"><a href="{{path('performance_show', {'id': performance.id}) }}">{{performance.title}}</a></h4>
                    </div>
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
