{% extends 'layout.html.twig' %}

{% block title %}Home Wild Circus{% endblock %}

{% block body %}
    <div class="main">
        <div class="demo">
            <ul>
                <li>W</li>
                <li>I</li>
                <li>L</li>
                <li>D</li>
            </ul>
            <ul>
                <li>C</li>
                <li>I</li>
                <li>R</li>
                <li>C</li>
                <li>U</li>
                <li>S</li>

            </ul>
        </div>
        <div class="mediaquery"></div>
    </div>
{% endblock %}
