@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "ticket";
@import "home";



body {
    background: $dc-promo-gradient;
    min-height: 100%;
    height: 100vh;
}


nav{
    position:fixed;
    z-index: 4;
}

nav-item{
    color:whitesmoke;
}
.navbar-nav, .nav-item, .nav-link, .navbar-brand{
    color:whitesmoke;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Overpass', serif;
    text-transform: uppercase;

    &:hover{
        color:$pink-color;
    }
}

h1{
    font-size: 2.5em;
    font-family: 'Overpass', serif;
    font-weight: bold;
}

h2{
    font-size: 2em;
    font-family: 'Overpass', serif;
    font-weight: bold;
}

h3{
    font-size: 1.5em;
    font-family: 'Overpass', serif;
    font-weight: bold;
}

h4{
    font-size: 1.5em;
    font-family: 'Overpass', serif;
    font-weight: bold;
}

p{
    font-family: Raleway, serif;
    font-size: 17px;
}

section{
    height: 100vh;
}

.rowHeight{
    height:100vh;
}

.img-crud{
    width: 250px;
}
.carousel-item {
    height: 550px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

@media screen and (max-width: 640px) {
    .carousel {
        width: 100%;
    }
}


