.card__list {
    max-width: 1200px;
    margin: 2rem auto;
}
.card_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    height: 180px;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease-in;
}
.card:hover  {
    transform: translateY(-5px);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}
@media(max-width: 768px) {
    .card {
        flex-direction: column !important;
        height: auto;
    }
}
.card__img{
    flex: 1 30%;
    -webkit-flex: 1 30%;
    overflow:hidden;
    position: relative;
}
.card__img-preview {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    min-width: 150px;
    max-width: 100%;
    min-height: 100%;
    transition: all 0.5s ease 0s;
}
.card__img-preview:hover {
    transform: scale(1.5);
}
.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
}
.card__content {
    flex: 1 70%;
    -webkit-flex: 1 70%;
    padding: 0.8rem;
}
.card__title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}
    a:hover{
        text-decoration: none;
    }


.card__text {
    font-size: 0.9rem;
    margin: 0;
}
.card__description {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.5rem;
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: 2rem;
    line-height: 1rem;
}
.card__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #efefef;
    text-align: right;
    padding-top: 0.5rem;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #888;
}
.card__price {
    color: #E35354;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}

@media screen and (max-width: 640px) {

    .card__img{
        display: none;
    }

}

.date{
    font-weight: bold;
}
