{% extends 'layout.html.twig' %}
{% block body %}

    <div>
        <h2>{{ dataContact.name }} sent you an email.</h2>
        <h3>Email : {{ dataContact.email }}</h3>
        <h3>Sujet : {{ dataContact.subject }}</h3>
        <p>Message : {{ dataContact.message }}</p>
    </div>

{% endblock %}
