<div class="bottom section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center bg-dark">
                <div class="copyright">
                    <p>© <span>2020</span>Barbara Carmé - All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
