{% extends 'layout.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
    <section>
        <h2 class="text-center mt-5 mb-3 title-animation">Performances</h2>
        <h4 class="text-center">Come and be mesmerized by exceptional circus acts including juggling, acrobatics,
            high-wire acts, dance, and many more performances, along with the music of a
            live band playing a kind of rock-hip-hop-soul style !
        </h4>
        <div class="container-fluid">
            <div class="row">
                 {% for performance in performances %}
                <div class="col-12 col-md-4 mt-0 mt-3 d-flex justify-content-center align-items-center"">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ performance.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{performance.title}}</h5>
                        <p class="card-text">{{performance.description|u.wordwrap(8)}}</p>
                        <a href="#" class="btn btn-primary">See more</a>
                    </div>
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
